body {
	background-color: #000;
	margin: 0px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 20px; 
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	font-family: sans;
	text-transform: uppercase;
}

#logo {
	font-family: serif;
	white-space: nowrap;
	font-size: 30px;
	display:inline-block;
	float: left;
}
#logo a{
	color: #eee;
	text-decoration: none;
}

#nav {
	display:inline-block;
	margin-bottom:2px;
	float:right;
}

#nav a, #menu {
	color: #eee;
	padding-top:8px;
	text-decoration: none;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	height: 30px;
	border-left: 1px solid #aaa;
}
#nav a:hover {
	text-decoration: underline;
}
#nav a:first-child {
	border: none;
}

#bgvideo {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}

#content {
	background-color: #ddd;
	font-family: sans;
}
iframe {
	border: none;
}

#transparent {
	position: absolute;
	top : 200px;
	left : 0px; right: 0px;
	color: white;
	text-align:center;
	font-size: 50px;
	text-shadow: 0px 0px 3px black;
}

#videocontainer {
	text-align: center;
	padding: 0px; margin: 0px;
}
#page {
	margin: 0px 20px;
}
.section {
	border-bottom: 20px solid #eee;
	background-color: #eee;
	margin: 0px;
	text-align: center;
	padding: 80px 0px;
}
.section h2 {
	margin :0px; padding: 20px;
	color: #15a;
	font-family: sans;
	font-size: 30px;
}
.section.intermezzo {
	height: 200px;
	overflow:hidden;
}
.section.intermezzo img {
	width: 100%;
	margin-top: -200px;
}
.subsection {
	text-align: justify;
	vertical-align: middle;
	display: inline-block;
	width: 500px;
	padding: 20px;
}
.subsection.centertext{
	text-align: center;
}

div.photo {
	width : 300px;
	height: 200px;
	display: inline-block;
	background-color: white;
	border: 1px solid #888;
	padding: 5px;
	margin: 5px;
}
div.photo div {
	display: table-cell;
	vertical-align:middle;
	width : 300px;
	height: 200px;
}
div.photo img {
	max-height:100%;
	max-width: 100%;
}
#menu {
	display: none;
}
a.big {
	color: #15a;
	text-decoration: none;
	font-family: sans;
	font-size: 25px;
}
a.big:hover{
	text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
	#nav a {
		display: none;
	}
	#menu {
		position: absolute;
		padding-left: 0px;
		right: 20px;
		top: 20px;
		display: inline-block;
		border: none;
		margin: 8px 10px 0px 10px;
	}
	#menu:active ~ #nav, #menu:focus ~ #nav {
		position: absolute;
		right: 0px; top : 76px;
		background: rgba(0,0,0,0.5);
	}
	#menu:active ~ #nav a, #menu:focus ~ #nav a {
		display: block;
		border: none; padding: 3px 10px; margin: 0px;
	}
}
