---
layout: default
title: Home
---
	<div class="section" style="padding-top:0px;">
	<video id="bgvideo" autoplay="true" loop>
		<source src="./assets/piccolo.mp4" type="video/mp4" />
		<img src="/assets/photos/columbus_01.jpg" title="no video">
	</video>
		<div class="subsection">
			<iframe width="500" height="300" src="https://www.youtube.com/embed/gueHZHr-EHQ" allowfullscreen></iframe>
		</div>
		<div class="subsection">
			<h2>The first chapter of american history</h2>
			The Columbus letter is the first written ever published
			witness about America. Written by the Italian admiral 
			himself, it describes his first voyage and the discovery of 
			the continent. We have reproduced the original Latin 
			edition published in Rome in 1493 with the same design, 
			materials and techniques as those employed more than five 
			hundred years ago.
			
			The first milestone of American written history in its 
			original form. An antique book that still fascinates and 
			marvels us.
		</div>

{% include intermezzo.html photo="columbus_15.jpg" %}

		<h2>Support us on Kickstarter, buy the book that made America
			appear in History</h2>
		<p>We have launched it, in the timeframe of the Columbus day 
		celebration, on the social platform Kickstarter because we 
		believe that a cultural project like this has to be supported 
		and brought to life with the help of everyone willing to 
		promote culture and quality publishing.
		</p>
		<div class="subsection centertext">
			<a href="#" class="button">Go to Kickstarter!</a>
		</div>
		<p>
		The edition will be printed in Milan, on handmade paper and 
		with special techniques in order not to produce a simple copy 
		but to reproduce the original document with attention to the 
		historical accuracy, keeping the same material characteristics 
		and impressions of the Renaissance edition. You will receive a 
		copy of the Columbus Letter as it was conceived when Europe was 
		still young and America just born.
		</p>
{% include intermezzo.html photo="columbus_47.jpg" %}
	</div>
