---
layout: default
title: Home
---
	<video id="bgvideo" autoplay="true" loop>
		<source src="./assets/piccolo.mp4" type="video/mp4" />
		<img src="/assets/photos/columbus_01.jpg" alt="no video">
	</video>
	<div class="section">
		
		<div class="subsection"><iframe width="500" height="300" src="https://www.youtube.com/embed/HlXDJhLeShg" allowfullscreen></iframe></div>
		<div class="subsection"><h2>The first chapter of american history</h2>Dolor voluptatem sint enim repudiandae quia dolores odio quae. Illum vel quia adipisci molestias. Dolore rerum illum est debitis rem et quibusdam. Quam dolorum unde quia maxime saepe. Accusamus sint fuga itaque sit repudiandae soluta perferendis nihil. Fugit et recusandae consequatur quis.

Et asperiores modi nostrum magnam est. Harum illo qui amet omnis non. Quasi molestiae repellat maiores harum dolore.

Harum quia quisquam ea in consequatur molestiae. Non omnis harum officia quos non. Perspiciatis impedit provident qui. Commodi nihil blanditiis facere hic architecto.</div>

	{% include intermezzo.html photo="columbus_03.jpg" %}
		<h2>Support our project on kickstarter</h2>
		<p>Dolor voluptatem sint enim repudiandae quia dolores odio 
		quae. Illum vel quia adipisci molestias. Dolore rerum illum est 
		debitis rem et quibusdam. Quam dolorum unde quia maxime saepe. 
		Accusamus sint fuga itaque sit repudiandae soluta perferendis 
		nihil. Fugit et recusandae consequatur quis.Et asperiores modi 
		nostrum magnam est. Harum illo qui amet omnis non. Quasi 
		molestiae repellat maiores harum dolore.</p>
		<div class="subsection centertext">
			<a href="#" class="button">Kickstarter</a>
		</div>
		<p>
		Dolor voluptatem sint enim repudiandae quia dolores odio quae. 
		Illum vel quia adipisci molestias. Dolore rerum illum est 
		debitis rem et quibusdam. Quam dolorum unde quia maxime saepe. 
		Accusamus sint fuga itaque sit repudiandae soluta perferendis 
		nihil. Fugit et recusandae consequatur quis.Et asperiores modi 
		nostrum magnam est. Harum illo qui amet omnis non. Quasi 
		molestiae repellat maiores harum dolore.
		</p>
{% include intermezzo.html photo="columbus_02.jpg" %}
	</div>
