---
layout: default
title: The Columbus Letter
---
	<div class="section" style="padding-top:0px;">
	<video id="bgvideo" loop autobuffer>
		<source src="./assets/piccolo.mp4" type="video/mp4" />
		<source src="./assets/piccolo.webm" type="video/webm" />
	</video>
	<img id="video_cover" src="/assets/photos/video_preview.jpg">
		<div class="subsection" style="width:600px;">
			<iframe width="600" height="400" src="https://www.youtube.com/embed/gueHZHr-EHQ" allowfullscreen></iframe>
		</div><!--
			
		--><div class="subsection" style="width: 280px;">
			<h2 style="width: 280px;  font-size: 20px; padding: 0px 0px 1ch 0px;">The first chapter of american history</h2>
			The Columbus letter is the first written ever published
			witness about America. Written by the Italian admiral 
			himself, it describes his first voyage and the discovery of 
			the continent. We have reproduced the original Latin 
			edition published in Rome in 1493 with the same design, 
			materials and techniques as those employed more than five 
			hundred years ago.
			
			The first milestone of American written history in its 
			original form. An antique book that still fascinates and 
			marvels us.
		</div><br>
		<div class="subsection thumb">
			<img src="/assets/photos/columbus_57.jpg" alt="letter">An historical accurate reproduction
		</div><!--
		--><div class="subsection thumb">
			<img src="/assets/photos/columbus_35.jpg" alt="letter">
			printed in Italy with traditional methods of hand made paper
		</div><!--
		--><div class="subsection thumb">
			<img src="/assets/photos/columbus_49.jpg" alt="letter">
			the first chapter of American history in your hands	
		</div>

{% include intermezzo.html photo="columbus_15.jpg" %}

		<h2>Support us on Kickstarter, buy the book that made America
			appear in History</h2>
		<p>We have launched it, in the timeframe of the Columbus day 
		celebration, on the social platform Kickstarter because we 
		believe that a cultural project like this has to be supported 
		and brought to life with the help of everyone willing to 
		promote culture and quality publishing.
		</p>
		<div class="subsection centertext">
			<a href="{{ site.kickstarter }}" class="button">Soon on Kickstarter!</a>
		</div>
		<p>
		The edition will be printed in Milan, on handmade paper and 
		with special techniques in order not to produce a simple copy 
		but to reproduce the original document with attention to the 
		historical accuracy, keeping the same material characteristics 
		and impressions of the Renaissance edition. You will receive a 
		copy of the Columbus Letter as it was conceived when Europe was 
		still young and America just born.
		</p>
		<h2 style="margin-bottom:20px">Share with your community!</h2>
		<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.thecolumbusletter.com&layout=button&size=small&mobile_iframe=true&width=72&height=20&appId" width="72" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		<a href="https://twitter.com/Columbus_Letter" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow @Columbus_Letter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% include intermezzo.html photo="columbus_47.jpg" %}
	</div>
