<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="viewport" content="initial-scale=0.6,maximum-scale=0.8,width=570">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{{page.title}}</title>
	<link type="text/css" href="/css/default.css" media="all" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans|Merriweather+Sans&subset=latin-ext" rel="stylesheet">
</head>
<body>
	<header>
		<div id="logo"><a href="/">The Columbus Letter</a></div>
		<a href="#" id="menu">Menu</a>
		<div id="nav">
			<a href="/preorder.html">Pre order</a>
			<a href="/story.html">Story of the Letter</a>
			<a href="/who.html">Who we are</a>
			<a href="/contact.html">Contact</a>
		</div>
	</header>
	<div id="page">
		{{content}}
	</div>
</body>
</html>
