<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="viewport" content="initial-scale=0.5,width=650">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta property="og:url" 		content="http://www.columbusletter.com/" /> 
	<meta property="og:title"		content="The Columbus letter, first chapter of American history" /> 
	<meta property="og:image"		content="http://www.thecolumbusletter.com/assets/photos/columbus_15.jpg" /> 
	<meta property="og:description"	content="The Columbus letter is the first written ever published witness about America. Written by the Italian admiral himself, it describes his first voyage and the discovery of the continent. We have reproduced the original Latin edition published in Rome in 1493 with the same design, materials and techniques as those employed more than five hundred years ago. The first milestone of American written history in its original form. An antique book that still fascinates and marvels us." />
	<title>{{page.title}}</title>
	<link type="text/css" href="/css/default.css" media="all" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans|Merriweather+Sans&subset=latin-ext" rel="stylesheet">
</head>
<body>
	<header>
		<div id="logo"><a href="/">The Columbus Letter</a></div>
		<a href="#" id="menu">Menu</a>
		<div id="nav">
			<a href="/preorder.html">Pre order</a>
			<a href="/story.html">Story of the Letter</a>
			<a href="/who.html">Who we are</a>
			<a href="/contact.html">Contact</a>
		</div>
	</header>
	<div id="page">
		{{content}}
	</div>
	<!--<a id="kick_logo" href="{{ site.kickstarter }}"><img src="/assets/logos/kickstarter-logo.png" alt="kickstarter"></a>-->
	<script type="text/javascript" src="/js/menu.js"></script>
</body>
</html>
